


.card{

    background-color:#183761;
    width: 200px;
    height: 100px;
    align-items: center;
    display: flex;
    color: #fff;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;



}

.card:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}